@charset "utf-8";

@import url("../lib/fontawesome-free-6.2.0-web/css/all.min.css");

/*html{overflow-y:overlay;}*/

html.scroll-disabled,
/*html.overlay-on{overflow:hidden;}*/

:before,
:after{box-sizing:border-box;}
p{line-height:1.5;}
/* button */
.btn{
	display:inline-flex;
	justify-content:center;
	align-items:center;
	position:relative;
	height:40px;
	overflow:hidden;
	line-height:normal;
	vertical-align:middle;
	text-align:center;
	font-size:13px;
	font-weight:normal;
	color:#222;
	text-decoration:none;
	white-space:nowrap;
	margin:0;
	padding:0 12px;
	transition:all .2s ease;
}
.btn[disabled] {cursor:default;background:rgba(204, 204, 204, 1) !important;}

a.btn,
button.btn,
input[type="button"].btn{cursor:pointer;}

span.icn,
span.lbl,
span.num,
span.val,
span.sprt,
span.prefix,
span.suffix{display:inline-block;vertical-align:middle;}






html,
body{display:block;height:100%; overflow-x: hidden;}
header,
main,
footer{position:relative;}
section{position:relative;}
article{position:relative;}

.container{width:100vw;height:auto;background:#eee;}

.container main section{padding: 150px 150px;}

header{position:fixed;top:0;left:0;width:100vw;}
header .site{display:flex;justify-content:center;align-items:center;height:80px;}
footer{position:fixed;bottom:0;left:0;width:100vw;}
footer nav{display:flex;justify-content:center;align-items:center;height:80px;}

footer nav .btn-menu{display: flex; justify-content: center; align-items: center; position: absolute; color:#fff; cursor: pointer; z-index: 90;}
footer nav .btn-menu .icn{position: relative; width:30px; height:18px;}
footer nav .btn-menu .icn + .lbl{margin-left:12px;}
footer nav .btn-menu .icn .toggle {display: block; cursor: pointer;}
footer nav .btn-menu .icn .toggle span { display: block; background: #fff; width: 28px; height: 2px; transition: 0.25s margin 0.25s, 0.25s;}
footer nav .btn-menu .icn .toggle span:nth-child(1) {margin-bottom: 6px;}
footer nav .btn-menu .icn .toggle span:nth-child(3) {margin-top: 6px;}
footer nav .btn-menu .icn .toggle.active span {transition: 0.25s margin, 0.25s transform 0.25s;}
footer nav .btn-menu .icn .toggle.active span:nth-child(1) {margin-top: 10px; margin-bottom: 2px; transform: rotate(45deg);}
footer nav .btn-menu .icn .toggle.active span:nth-child(2) { transform: rotate(45deg); display: none;}
footer nav .btn-menu .icn .toggle.active span:nth-child(3) { margin-top: -4px; transform: rotate(135deg);}
.btn-menu.scrolled {color: #333;}
.btn-menu.scrolled .icn{color: #333;}
.btn-menu.scrolled .icn .toggle span{background: #333;}



footer .overlay{position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 1; visibility: hidden; transition: all .35s; z-index: 50;}
footer .overlay::before{position: absolute; content: ''; background: #E5E5E5; left: -55%; top: 0; width: 50%; height: 100%; transition: left .35s ease;}
footer .overlay::after{ position: absolute; content: ''; background: #E5E5E5; right: -55%; top: 0; width: 50%; height: 100%; transition: all .35s ease;}
footer .overlay.open{visibility: visible;height: 100%;}
footer .overlay.open::before{left: 0;}
footer .overlay.open::after{right: 0;}
footer .overlay.open li {
	animation: fadeInRight 0.5s ease forwards;
	animation-delay: 0.35s;
}
footer .overlay.open li:nth-of-type(2) {animation-delay: .45s;}
footer .overlay.open li:nth-of-type(3) {animation-delay: .55s;}
footer .overlay.open li:nth-of-type(4) {animation-delay: .65s;}
footer .overlay.open li:nth-of-type(5) {animation-delay: .75s;}
footer .overlay.open li:nth-of-type(6) {animation-delay: .85s;}
footer .overlay .overlay-menu{ position: relative; top: 50%; transform: translateY(-50%); height: initial;  text-align: center; z-index: 100;}
footer .overlay nav.overlay-menu ul{ display: inline-block; position: relative; margin: 0 auto; height: 100%;} 
footer .overlay nav.overlay-menu ul li{ display: block; position: relative; height: calc(100% / 6); min-height: 50px; padding-bottom: 40px; opacity: 0;}
footer .overlay ul li a{display: block; position: relative; overflow: hidden; font-size: 30px; color: #888; text-transform: uppercase; text-align: center;}
footer .overlay nav.overlay-menu ul li a:hover,
footer .overlay nav.overlay-menu ul li a:hover{color: #32c4c1;}
footer .overlay nav.overlay-menu ul li a.no-effect:hover{color: #888; font-weight: normal;}
footer .overlay nav.overlay-menu ul li a.no-effect::after{display: none;}
  @keyframes fadeInRight {
	  0% {
		  opacity: 0;
		  left: 20%;
	  }
	  100% {
		  opacity: 1;
		  left: 0;
	  }
  }
/*.container main .main-intro,*/
/*.container main .main-creative{padding: 0;}*/

main .main-intro {position: relative; width: 100vw; height: 100vh; overflow: hidden;}
main .main-intro > article {position: relative; width:100vw;height:100vh;background:#eee;}
main .main-intro > article .video-background {position: absolute;top: 0;left: 0; width: 100%; height: 100%; overflow: hidden;}
.video-background .background-video { position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; object-fit: cover; transform: translate(-50%, -50%);}
.video-background .background-video .content {position: relative; z-index: 1; color: white; text-align: center; margin-top: 20%;}
main article h3 {position: absolute; top: 180px; left: 2rem; text-transform: uppercase; font-family: "RedHatDisplay", "Pretendard", "Malgun Gothic", Dotum, Arial, sans-serif; color: #fff;}
main article .sub-tit{display: block; font-size: 2.5rem; margin-left: .7rem; color: #fff;}
main article strong{font-size: 12vw; letter-spacing: -8px;}
main article .btm_txt{display: flex; flex-direction: column; align-items: flex-end; position: absolute; bottom: 4rem; right: 3rem; color:#fff;}
main article .btm_txt span{font-family: 'RedHatDisplay', 'Pretendard', 'Malgun Gothic', Dotum, Arial, sans-serif; font-size: 2.2rem; font-weight: 700;}
main article .btm_txt p{font-size: 2rem;}

main .splash {display: flex; justify-content: center; align-items: center; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: #29c684; transition: all 2s ease; text-align: center; overflow: hidden;
}
main .splash.hide{/*opacity: 0; visibility: hidden; */transform: translateY(-100%);}
main .splash .loading{display: block; width: 50%;float:left; position: relative; transition: all .2s ease;}
main .splash .loading .line{position: relative; width: 100%; height: 20px; top: 45%; top: -webkit-calc(50% - 10px); top: calc(50% - 10px); margin-top: 20px; -webkit-animation: bar 10s ease-in-out; animation: bar 10s ease-in-out;}
main .splash .loading img { width: 30% }
main .splash .loading p{ position: absolute; font-size: 20px; width: 100%; height: 25px; text-align: center; bottom: 0; margin: 0; top:160px; background-color: #fff; opacity: 0; text-transform: uppercase; transition: all .2s ease;}
main .splash .loading .line:before{ content: ""; position: absolute; background-color: #fff; top: -5px; left: 0; height: 30px; width: 0; z-index: 0; opacity: 1; -webkit-transform-origin:  100% 0%; transform-origin:  100% 0% ; -webkit-animation: line 10s ease-in-out; animation: line 10s ease-in-out;}
main .splash .loading .line:after{ content: "LOADING ..."; color: #fff; font-weight: 200; font-size: 16px; position: absolute; width: 100%; height: 20px; line-height: 20px; left: 0; top: 0; background-color: #003046; z-index: 1;}


@-webkit-keyframes line{
	0%{width: 0;}
	70%{width: 100%; opacity: 1;}
	90%{opacity: 0; width: 100%;}
	100%{opacity: 0;width: 0;}
}

@keyframes line{
	0%{width: 0;}
	70%{width: 100%; opacity: 1;}
	90%{opacity: 0; width: 100%;}
	100%{opacity: 0;width: 0;}
}

@keyframes bar {
	0%{opacity: 1;}
	70%{opacity: 1;}
	100%{opacity: 0;}
}

@-webkit-keyframes bar {
	0%{opacity: 1;}
	70%{opacity: 1;}
	100%{opacity: 0;}
}


.main-creative {position: relative; padding: 20em 0;}
.main-creative h3{font-size: 2.5rem; text-align: center; margin-bottom: 3rem;}
.main-creative small{display: block; font-size: 1.8rem; text-align: center; margin-bottom: 3rem;}
.main-creative h3 span{display: block; font-size: 4rem; text-align: center; margin-bottom: 3rem; text-transform: uppercase}
.main-creative h3 span .br{display: inline;}
.main-creative h3 strong{font-size: 4rem; text-align: center; margin-bottom: 3rem; text-transform: uppercase}
.main-creative .swiper {position: relative; width:100%; height: 500px; padding-top: 50px; padding-bottom: 50px;}
.main-creative .swiper .swiper-wrapper{width:100%;}
.main-creative .swiper .swiper-wrapper .swiper-slide {display: flex; justify-content: center; align-items: center; max-width: 410px; width: 100%; height: 500px; overflow: hidden; border-radius: 20px; cursor: pointer;}
.main-creative .swiper .swiper-wrapper .swiper-slide .items{width: 100%; height: 100%; background-color: hotpink;}
.main-creative .swiper .swiper-wrapper .swiper-slide .items a{display: block; position: relative; width: 100%; padding-bottom: 100%; border-radius: 10px;}
.main-creative .swiper .swiper-wrapper .swiper-slide .items a .img-box{position: absolute; width: 100%; height: 100%;}
.main-creative .swiper .swiper-wrapper .swiper-slide .items a .img-box img{width:100%; height: auto; object-fit: cover;}
.main-creative .swiper .swiper-wrapper .swiper-slide .view{display: flex; justify-content: center; align-items: center; gap: 2rem; position: absolute; top: 20px; left: 2rem; transform: translateX(-10%); color:#fff; opacity: 0; transition: all 0.5s ease; }
.main-creative .swiper .swiper-wrapper .swiper-slide .view p{font-size: 1.2rem; font-weight: 700;}
.main-creative .swiper .swiper-wrapper .swiper-slide .view p span{display: block}
.main-creative .swiper .swiper-wrapper .swiper-slide .view .arrow{display: inline-block; width: 50px; height: 50px; line-height: 48px; text-align: center; font-size: 1.5rem; font-weight: bold; color: #fff; border: 2px solid #fff; border-radius: 50%;}
.main-creative .swiper .swiper-wrapper .swiper-slide .dim{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.2); opacity: 0; transition: all 0.2s ease;}
.main-creative .swiper .swiper-wrapper .swiper-slide:hover .dim{opacity: 1;}
.main-creative .swiper .swiper-wrapper .swiper-slide:hover .view{opacity: 1; transform: translateX(0);}
.main-creative .btm-txt {position: absolute; bottom: 4rem; right: 2rem; font-size: 2.2rem; font-weight: 700;}
.main-creative .btm-txt p{font-size: 4rem;}

/*request*/
.request .request-inner {display: flex; flex-direction: column; align-items: center; padding: 20em 0  10em;}
.request .request-inner .contact-box{display: block; font-size: 2.5rem; text-align: center; margin-bottom: 3rem;}
.request .request-inner h3{display: flex; flex-direction: column; align-items: center;margin-bottom: 3rem;}
.request .request-inner h3 strong{display: block; font-size: 4rem; text-align: center; margin-bottom: 3rem; text-transform: uppercase;}
.request .request-inner .request-btn{display: inline-block; padding: 16px 32px; color: #fff; font-size: 28px; font-weight: 800; line-height: 1; border-radius: 32px; border: 2px solid #222; background-color: #222; transition: all .3s ease;}
.request .request-inner .request-btn:hover{color: #222; background-color: #fff;}

/*float*/
.float{position: fixed; bottom: 0; left:2rem; z-index: 12; cursor:pointer;}
.float .QnA{position: absolute; bottom: 8rem; left: 1.5rem; width: 300px; padding: 20px 20px 50px 20px; border-radius: 20px; box-shadow: rgba(0 0 0 / 5%) 0 0 10px; background: #fff url(../img/piinie_bg.png) no-repeat; background-size: 30%; background-position: bottom 10px right 10px; transform: scale(0); transform-origin: bottom left; transform: scale(0); transition: transform 0.3s ease;}
.float.on .QnA{opacity: 1; transform: scale(1);}
.float .QnA strong{display: block; width: 100%; padding-bottom: 10px; font-size: 1.2rem; border-bottom: 2px solid #222;}
.float .QnA ul{padding-top: 10px;}
.float .QnA ul li:first-child{padding-bottom: 10px; border-bottom: 2px dotted #222;}
.float .QnA ul li a{display: block; padding: 5px 0; font-size: 1rem; color: #222; transition: all .3s ease;}

/*main-title*/
.main-title h1{font-size: 8vw; line-height: 1.2; letter-spacing: -3px; color: #000;}
.main-title h1 .text{display: block;}
.gray{color: #888 !important;}
.bold{font-weight: 700;}

/*subtit, subtxt*/
.sub-title-wrap{padding-bottom: 50px;}
.subtit{font-size: 3rem; line-height: 1.3; color: #000;}
.sub-text-wrap{display: flex; flex-direction: column; gap: 20px;}
.subtxt{font-size: 1.25rem; color: #333; word-break:keep-all;}


/* About */
.ui-about article > img{width: 80%; margin: 0 10em;}

/* content */
.ui-about article,
.ui-piinolife article{display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 200px; width: 100%; height: auto; padding-top: 200px;}



.content{display: flex; justify-content: center; align-items: center; gap: 4rem;}
.content .txt-wrap{width: 50vw;}
.content .img-box{width: 100%; max-width: 920px; height: 520px; background-color: #D9D9D9;}
.content .img-box img{width: 100%; height: 100%; object-fit: cover;}
.content.reverse{justify-content: end;}
.content.partners{flex-direction: column;}
.content.partners img{width: 100%;}
.content.banner .img-box{max-width: initial; height: auto; background-color: initial;}
.content.banner::after{position: absolute; right: 165px; top: 120px; display: block; content: ''; width: 132px; height: 132px; border-radius: 50%; background: url(../img/circle.svg) #003046 no-repeat center;background-size: contain; animation: rotate 10s linear infinite;}
.content.column{flex-direction: column; align-items: normal; width: 100%;}
.content.column .txt-wrap{display: flex; width: 100%; gap: 4em; padding-bottom: 50px;}
.content.column .txt-wrap .left{width: 50vw;}
.content.column .txt-wrap .right{width: 50vw;}
.content.column .img-box{max-width: initial; height: 650px;}
.content.mobile{display: none;}
/*.content:last-of-type{margin-bottom: 0;}*/


/* PiinoLife */
/*.ui-piinolife .content{width: 100%; height: auto; padding-top: 200px; display: flex; flex-direction: column; align-items: center;}*/
/*.ui-piinolife .content .img-box{padding-top: 200px;width: 100%;height: 750px;}*/
/*.ui-piinolife .content .img-box img{display: block; width: 100%; height: 100%; object-fit: cover;}*/
.ui-piinolife .img-wrap .txt-wrap .top-title-wrap{padding: 0;}
.ui-piinolife .img-wrap .img-box{width: 920px; height: 520px; background-color: #D9D9D9;}
.ui-piinolife .banner-wrap{position: relative; padding-bottom: 50px; padding-top: 200px;}
.ui-piinolife .banner-wrap h2{position:absolute;bottom: 0;left: 340px;font-size: 74px; font-weight: 600; color: #000;text-transform:uppercase}

@keyframes rotate {
	0% {transform: rotate(0deg);}
	100% {transform: rotate(360deg);}
}
/* after 이거쓰면 좋을듯 https://www.youtube.com/watch?v=zwl3kZPZ8H8 */

.ui-piinolife .subtit{width: 460px;word-break:keep-all;}
.ui-piinolife .txt-wrap.flex{display: flex;justify-content: space-between; gap:50px;}
/*.ui-piinolife .left{width: 580px;}*/
/*.ui-piinolife .right{width: 580px;}*/
.ui-piinolife .txt-wrap.flex .subtxt:first-of-type{margin: 45px 0 20px 0;}
.ui-piinolife .txt-wrap + img{margin-top: 60px;}
.ui-piinolife .culture-list{max-width: 1400px; padding-top: 200px;}
.ui-piinolife .culture-list .sub-title-wrap{width: 255px;}
.ui-piinolife .culture-list .icn-list-wrap{display: flex;justify-content: space-between; flex-wrap: wrap; margin-top: 80px;}
.ui-piinolife .culture-list .icn-list-wrap .icn-list{width: 580px;}
.icn{ width: 76px; height: 76px;background-repeat: no-repeat;background-position: center;}
.icn.medal{background: url(../img/medal.svg);}
.icn.calendar{background: url(../img/calendar.svg);}
.icn.smile{background: url(../img/smile.svg);}
.icn.shirts{background: url(../img/shirts.svg);}
.icn.bonus{background: url(../img/bonus.svg);}
.icn.sandwich{background: url(../img/sandwich.svg);}
.icn.book{background: url(../img/book.svg);}
.icn.travel{background: url(../img/travel.svg);}
.ui-piinolife .culture-list .icn-list-wrap .icn-list .title{font-size: 28px; font-weight: 700; color: #000;margin: 26px 0 16px 0;}
.ui-piinolife .culture-list .icn-list-wrap .icn-list .subtxt{padding-bottom: 50px;}
.ui-piinolife .img-wrap{padding-top: 150px;}
.ui-piinolife .img-wrap .txt-wrap .subtit{margin: 90px 0 30px 0;}
.ui-piinolife .img-wrap .txt-wrap .subtxt.bold{margin-bottom: 4px;}
.ui-piinolife .btm-wrap{position:relative;width: 100%; height: 792px; padding-top: 250px;}
.ui-piinolife .btm-wrap img {width: 100%; height: 100%; object-fit: cover;}
.ui-piinolife .btm-wrap p{position: absolute;top: 200px;left: 50%;transform: translateX(-50%);font-size: 78px; font-weight: 700; line-height: 94px; text-align: center; color: #000; width: 100%;}

/* PiinoNews */
.ui-news article{width:100%; height: auto; padding-top: 200px;}
.ui-news .news-wrap{display: flex; justify-content: space-evenly; flex-wrap: wrap;}
.ui-news .news-wrap .news-cont{width: 372px;margin-bottom: 80px;}
.ui-news .news-wrap .news-cont .thumbnail{background: url(../img/piino_thumbnail.png) no-repeat center; width: 372px; height: 240px;}
.ui-news .news-wrap .news-cont .news-tit{font-size: 24px;font-weight: 600;line-height: 29px;letter-spacing: -0.02em;text-align: left;margin: 32px 0 8px 0;}
.ui-news .news-wrap .news-cont .news-date{font-size: 16px;font-weight: 400;line-height: 30px;letter-spacing: -0.02em;text-align: left;}

@keyframes appear_from_bottom {
	0%{
		opacity: 0;
		transform: translateY(100px);
	}
	100%{
		opacity: 1;
		transform: translateY(0);
	}
}

/* z-index */
header{z-index:10;}
footer{z-index:10;}
.splash{z-index:99;}

@media screen and (max-width:767px) {
	.container main section{padding: 100px 0;}
/* main */
	/* splash */
	main .splash .loading{width: 80%;}
	main .splash .loading img{width: 50%;}

	/*main-intro*/
	.main-intro article h3{display: flex; flex-direction: column; align-items: center; left: 50%; transform: translateX(-50%);}
	.main-intro article .sub-tit{margin-left: 0; font-size: 1.5rem;}
	.main-intro article strong{font-size: 16vw;letter-spacing: initial}
	.main-intro article .btm_txt{display: flex; align-items: center; top: 30rem; left: 50%; transform: translateX(-50%); width: 100%;}
	.main-intro article .btm_txt span{font-size: 1.5rem;}
	.main-intro article .btm_txt p{font-size: 1rem;}

	.float{bottom: .5rem; left: 1rem; width: 60px;}
	.float .float-btn img{width: 100%; height: 100%; object-fit: cover;}
	.float .QnA{bottom: 5rem;}


	.main-creative{padding: 8rem 0;}
	.main-creative small{font-size: 1.5rem;}
	.main-creative h3 span{font-size:2.5rem; word-break: keep-all;}
	.main-creative h3 span .br{display: inline-block;}

	.main-creative .swiper .swiper-wrapper .swiper-slide{max-width: 350px; width: 100%; height: auto;}

	.main-creative .swiper .swiper-wrapper .swiper-slide .view{justify-content: initial; align-items: initial; top:0; left: 0; width: 100%; height: 100%;}
	.main-creative .swiper .swiper-wrapper .swiper-slide .view p{position: absolute; top:20px; left: 2rem;}
	.main-creative .swiper .swiper-wrapper .swiper-slide .view .arrow{position: absolute; bottom:2rem; right: 2rem;}
	.main-creative .btm-txt {padding: 0 1rem; word-break: keep-all; bottom: 0;}
	.main-creative .btm-txt p{font-size: 2.5rem; word-break: keep-all;}

	main .request .request-inner .contact-box{margin-bottom: 1rem; font-size: 1.5rem;}
	main .request .request-inner h3{margin-bottom: 1rem;}
	main .request .request-inner h3 strong{margin-bottom: 2rem; font-size: 2rem;}
	main .request .request-inner h3 .request-btn{padding: 10px 16px; font-size: 1.5rem;}

	/*about*/
	/*.container main section.ui-about{padding-top: 100px;}*/
	/*.ui-about article{padding: 0;}*/
	/*.ui-about article .image-wrapper{padding-top: 150px;}*/


	/*.content{flex-direction: column; padding-top: 2rem; margin-bottom: 80px;}*/
	.content .img-box.mobile{width: 100%; height: auto;}
	.content .img-box.mobile img{display: block;}
	/*.subtit{ font-size: 2rem; line-height: initial; word-break: keep-all;}*/
	/*.subtxt{padding: 0 1rem; font-size: 1.125rem;}*/

	.ui-about .partner.desktop{display: none;}

	/*main-title*/
	.main-title{padding: 0 1rem;}
	.main-title h1{font-size:3rem; line-height: 1.3;}

	/*subtit, subtxt*/
	/*.sub-title-wrap{padding-bottom: 50px;}*/
	.subtit{font-size: 2rem; line-height: 1.3; color: #000;}
	/*.sub-text-wrap{display: flex; flex-direction: column; gap: 20px;}*/
	/*.subtxt{font-size: 1.25rem; color: #333; word-break:keep-all;}*/


	/* About */
	/*.ui-about article > img{width: 80%; margin: 0 10em;}*/

	/* content */
	.ui-about article,
	.ui-piinolife article{gap: 100px; padding-top: 80px;}


	.content{display: flex; flex-direction: column; justify-content: center; align-items: center; gap: 4rem;}
	.content .txt-wrap{width: 100%; padding: 0 1rem;}
	.content.reverse{justify-content: end;}
	.content.partners{flex-direction: column;}
	.content.partners .sub-title-wrap{padding-bottom:0;}
	.content.partners img{width: 100%;}
	.content.mobile{display: flex; flex-direction: column; justify-content: center; align-items: center;}
	.content.desktop{display: none;}
	/*.content:last-of-type{margin-bottom: 0;}*/

	/*piino life*/
	.container main section.ui-piinolife{padding-top: 100px;}
	.ui-piinolife article .img-box{border-radius: 0;}
	.top-title-wrap h1{font-size: 36px; line-height: 1.2;}
	.ui-piinolife .banner-wrap{padding: 50px 0;}
	.ui-piinolife .banner-wrap h2{left: 1rem; font-size: 36px;}
	.ui-piinolife .banner-wrap::after{right: 50px; top: 20px; width: 50px; height: 50px;}
	.ui-piinolife article{padding: 100px 0 0;}
	.ui-piinolife .subtit{width: initial; margin: 40px 0 30px 0!important;}
	.ui-piinolife .txt-wrap.flex{flex-direction: column;}
	.ui-piinolife .left,
	.ui-piinolife .right{width: initial;}
	.ui-piinolife .txt-wrap.flex .subtxt:first-of-type{font-size: 1rem;}

	.ui-piinolife .content .img-box{height: initial; padding-top: 100px;}

	.ui-piinolife .culture-list{width: 100%;max-width: initial; padding: 100px 1rem; margin-top: 0;}
	.ui-piinolife .culture-list .icn-list-wrap{gap: 8rem;}
	.ui-piinolife .culture-list .icn-list-wrap .icn-list .subtxt{padding: 0;}
	.ui-piinolife .culture-list .icn-list-wrap .icn-list:last-child .subtxt{margin-bottom: 0;}
	.ui-piinolife .img-wrap .txt-wrap .top-title-wrap{padding: 20px 1rem 0;}
	.ui-piinolife .img-wrap{padding-bottom: 180px;}
	.ui-piinolife .btm-wrap{padding-top: 0;}
	.ui-piinolife .btm-wrap p{font-size: 2rem; line-height: 1; top: -100px;}

	.ui-news{padding: 100px 0; display: flex; flex-direction: column; align-items: center;}
	.ui-news article{height: auto; padding:0;}
	.ui-news .top-title-wrap{padding: 0 1rem 2rem;}
	.top-title-wrap h1 .text{display: initial;}
	.ui-news .news-wrap .news-cont{width: 100%; min-width: 320px; display: flex; flex-direction: column; align-items: center;}
	.ui-news .news-wrap .news-cont .thumbnail{width: 100%;}
	.ui-news .news-wrap .news-cont .news-tit{padding: 0 1rem; font-size: 1.25rem;}
	.ui-news .news-wrap .news-cont .news-date{padding: 0 1rem;}

	/* news */
	.container main section.ui-news{padding-top: 100px;}

	/*footer*/
	footer{background: #eee;}
	.main-footer{background: transparent;}
	footer nav .btn-menu{right: 1rem;}
	footer nav .btn-menu .icn .toggle > span{width: 22px; background: #fff;}
	footer nav .btn-menu .icn .toggle.active > span{width: 22px; background: #888;}
	footer nav .btn-menu .lbl{color: #fff;}
	footer nav .btn-menu .icn + .lbl{margin-left: 4px;}
}


