@charset "utf-8";

@import url("../lib/fontawesome-free-6.2.0-web/css/all.min.css");

/*html{overflow-y:overlay;}*/

html.scroll-disabled,
/*html.overlay-on{overflow:hidden;}*/

:before,
:after{box-sizing:border-box;}
p{line-height:1.5;}
/* button */
.btn{
	display:inline-flex;
	justify-content:center;
	align-items:center;
	position:relative;
	height:40px;
	overflow:hidden;
	line-height:normal;
	vertical-align:middle;
	text-align:center;
	font-size:13px;
	font-weight:normal;
	color:#222;
	text-decoration:none;
	white-space:nowrap;
	margin:0;
	padding:0 12px;
	transition:all .2s ease;
}
.btn[disabled] {cursor:default;background:rgba(204, 204, 204, 1) !important;}

a.btn,
button.btn,
input[type="button"].btn{cursor:pointer;}

span.icn,
span.lbl,
span.num,
span.val,
span.sprt,
span.prefix,
span.suffix{display:inline-block;vertical-align:middle;}






html,
body{display:block;height:100%; overflow-x: hidden;}
header,
main,
footer{position:relative;}
section{position:relative;}
article{position:relative;width:1240px;margin:0 auto;}

.container{width:100vw;height:auto;background:#eee;}

header{position:fixed;top:0;left:0;width:100vw;}
header .site{display:flex;justify-content:center;align-items:center;height:80px;}
footer{position:fixed;bottom:0;left:0;width:100vw;}
footer nav{display:flex;justify-content:center;align-items:center;height:80px;}

footer nav .btn-menu{display: flex; justify-content: center; align-items: center; position: absolute; color:#333; cursor: pointer; z-index: 90;}
footer nav .btn-menu .icn{position: relative; width:30px; height:18px;}
footer nav .btn-menu .icn + .lbl{margin-left:12px;}
footer nav .btn-menu .icn .toggle {display: block; cursor: pointer;}
footer nav .btn-menu .icn .toggle span { display: block; background: #000; width: 28px; height: 2px; transition: 0.25s margin 0.25s, 0.25s;}
footer nav .btn-menu .icn .toggle span:nth-child(1) {margin-bottom: 6px;}
footer nav .btn-menu .icn .toggle span:nth-child(3) {margin-top: 6px;}
footer nav .btn-menu .icn .toggle.active span {transition: 0.25s margin, 0.25s transform 0.25s;}
footer nav .btn-menu .icn .toggle.active span:nth-child(1) {margin-top: 10px; margin-bottom: 1px; transform: rotate(45deg);}
footer nav .btn-menu .icn .toggle.active span:nth-child(2) { transform: rotate(45deg); display: none;}
footer nav .btn-menu .icn .toggle.active span:nth-child(3) { margin-top: -4px; transform: rotate(135deg);}

footer .overlay{position: fixed; top: 0; left: 0; width: 100%; height: 100%; opacity: 1; visibility: hidden; transition: all .35s; z-index: 50;}
footer .overlay::before{position: absolute; content: ''; background: #E5E5E5; left: -55%; top: 0; width: 50%; height: 100%; transition: left .35s ease;}
footer .overlay::after{ position: absolute; content: ''; background: #E5E5E5; right: -55%; top: 0; width: 50%; height: 100%; transition: all .35s ease;}
footer .overlay.open{visibility: visible;height: 100%;}
footer .overlay.open::before{left: 0;}
footer .overlay.open::after{right: 0;}
footer .overlay.open li {
	animation: fadeInRight 0.5s ease forwards;
	animation-delay: 0.35s;
}
footer .overlay.open li:nth-of-type(2) {animation-delay: .45s;}
footer .overlay.open li:nth-of-type(3) {animation-delay: .55s;}
footer .overlay.open li:nth-of-type(4) {animation-delay: .65s;}
footer .overlay.open li:nth-of-type(5) {animation-delay: .75s;}
footer .overlay.open li:nth-of-type(6) {animation-delay: .85s;}
footer .overlay .overlay-menu{ position: relative; top: 50%; transform: translateY(-50%); height: initial;  text-align: center; z-index: 100;}
footer .overlay nav.overlay-menu ul{ display: inline-block; position: relative; margin: 0 auto; height: 100%;} 
footer .overlay nav.overlay-menu ul li{ display: block; position: relative; height: calc(100% / 6); min-height: 50px; padding-bottom: 40px; opacity: 0;}
footer .overlay ul li a{display: block; position: relative; overflow: hidden; font-size: 30px; color: #888; text-transform: uppercase; text-align: center;}
footer .overlay nav.overlay-menu ul li a:hover{color: #000;}
footer .overlay nav.overlay-menu ul li a:hover::after,
footer .overlay nav.overlay-menu ul li a:focus::after,
footer .overlay nav.overlay-menu ul li a:active::after{width: 100%;}
footer .overlay nav.overlay-menu ul li a::after{content: ''; position: absolute; top: 50%; left: 50%; width: 0%; transform: translateX(-50%); height: 1px; background: #000; transition: .35s;}
  @keyframes fadeInRight {
	  0% {
		  opacity: 0;
		  left: 20%;
	  }
	  100% {
		  opacity: 1;
		  left: 0;
	  }
  }

main article {width:100vw;height:100vh;background:#eee;}
main article h3 {position: absolute; top: 180px; left: 2rem; text-transform: uppercase; font-family: "RedHatDisplay", "Pretendard", "Malgun Gothic", Dotum, Arial, sans-serif;}
main article .sub-tit{display: block; font-size: 3rem; margin-bottom: -1em; margin-left: 1rem;}
main article strong{font-size: 14vw;}
main article .btm_txt{display: flex; flex-direction: column; align-items: flex-end; position: absolute; bottom: 2rem; right: 2rem;}
main article .btm_txt span{font-family: 'RedHatDisplay', 'Pretendard', 'Malgun Gothic', Dotum, Arial, sans-serif; font-size: 2.2rem; font-weight: 700; margin-bottom: 1rem;}
main article .btm_txt p{font-size: 2rem; margin-bottom: 1rem;}
main .splash {display: flex; justify-content: center; align-items: center; position: fixed; z-index: 9999; top: 0; left: 0; width: 100%; height: 100%; background-color: #fff;transition: all 1s ease; display: none;}
main .splash.hide{opacity: 0; visibility: hidden; transform: translateY(-100%);}
main .splash .loading{position:absolute; bottom: 50px; left: 0;}
main .splash:before{ content: ''; position: fixed; top: 0; left: 0; width: 100%; height: 100vh; background: #fff; transition: all 2s ease .2s;}
main .splash .loading img{ width: 100%; height: 100%; animation: slideRight 5s linear forwards;}
main .splash .loading .line{position: absolute; bottom: 0; left: 2rem; width: 0; height: 20px; background: lightseagreen; border-radius: 20px; animation: slideLeft 5s linear forwards;}
/*main .splash .loading .line:before{content: ''; position: absolute; bottom: 0; left: 0; width: 100%; height: 20px; background: lightseagreen; animation: slideRight 5s linear forwards;}*/
/*@keyframes slideLeft {*/
/*	0% {*/
/*		width: 0;*/
/*	}*/
/*	100% {*/
/*		width: 1200px;*/
/*	}*/
/*}*/
/*@keyframes slideRight {*/
/*	0% {*/
/*		transform: translateX(0);*/
/*	}*/
/*	100% {*/
/*		transform: translateX(1200px);*/
/*	}*/
/*}*/

.main-creative {padding: 20em 0;}
.main-creative h3{font-size: 2.5rem; text-align: center; margin-bottom: 3rem;}
.main-creative small{display: block; font-size: 1.8rem; text-align: center; margin-bottom: 3rem;}
.main-creative h3 span{display: block; font-size: 4rem; text-align: center; margin-bottom: 3rem; text-transform: uppercase}
.main-creative h3 strong{font-size: 4rem; text-align: center; margin-bottom: 3rem; text-transform: uppercase}
.main-creative .swiper {position: relative; width:1400px; height: 500px; padding-top: 50px; padding-bottom: 50px;}
.main-creative .swiper .swiper-wrapper{width:1400px;}
.main-creative .swiper .swiper-wrapper .swiper-slide {display: flex; justify-content: center; align-items: center; width: 410px; height: 500px; overflow: hidden; border-radius: 20px; cursor: pointer;}
.main-creative .swiper .swiper-wrapper .swiper-slide .items{width: 100%; height: 100%; background-color: hotpink;}
.main-creative .swiper .swiper-wrapper .swiper-slide .items a{display: block;}
.main-creative .swiper .swiper-wrapper .swiper-slide .items a img{width:100%; height: 100%; object-fit: cover;}
.main-creative .swiper .swiper-wrapper .swiper-slide .view{display: flex; justify-content: center; align-items: center; gap: 2rem; position: absolute; top: 20px; left: 2rem; transform: translateX(-10%); color:#fff; opacity: 0; transition: all 0.5s ease; }
.main-creative .swiper .swiper-wrapper .swiper-slide .view p{font-size: 1.2rem; font-weight: 700;}
.main-creative .swiper .swiper-wrapper .swiper-slide .view p span{display: block}
.main-creative .swiper .swiper-wrapper .swiper-slide .view .arrow{display: inline-block; width: 50px; height: 50px; line-height: 48px; text-align: center; font-size: 1.5rem; font-weight: bold; color: #fff; border: 2px solid #fff; border-radius: 50%;}
.main-creative .swiper .swiper-wrapper .swiper-slide .dim{position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,.2); opacity: 0; transition: all 0.2s ease;}
.main-creative .swiper .swiper-wrapper .swiper-slide:hover .dim{opacity: 1;}
.main-creative .swiper .swiper-wrapper .swiper-slide:hover .view{opacity: 1; transform: translateX(0);}
.main-creative .btm-txt {position: absolute; bottom: 4rem; right: 2rem; font-size: 2.2rem; font-weight: 700;}
.main-creative .btm-txt p{font-size: 4rem;}

/*request*/
.request .request-inner {display: flex; flex-direction: column; align-items: center; padding: 20em 0  10em;}
.request .request-inner h3{margin-bottom: 3rem;}
.request .request-inner p{display: block; font-size: 3rem; text-align: center; margin-bottom: 3rem; text-transform: uppercase;}
.request .request-inner h3 span{display: block; font-size: 4rem; text-align: center; margin-bottom: 3rem; text-transform: uppercase;}
.request .request-inner h3 strong{display: block; font-size: 4rem; text-align: center; margin-bottom: 3rem; text-transform: uppercase;}
.request .request-inner .request-btn{display: inline-block; padding: 16px 32px; color: #fff; font-size: 28px; font-weight: 800; line-height: 1; border-radius: 32px; border: 2px solid #222; background-color: #222; transition: all .3s ease;}
.request .request-inner .request-btn:hover{color: #222; background-color: #fff;}

/*float*/
.float{position: fixed; bottom: 0; left:1rem; z-index: 12; cursor:pointer;}
.float .QnA{position: absolute; bottom: 8rem; left: 1.5rem; width: 300px; padding: 20px 20px 50px 20px; border-radius: 20px; box-shadow: rgba(0 0 0 / 5%) 0 0 10px; background: #fff url(../img/piinie_bg.png) no-repeat; background-size: 30%; background-position: bottom 10px right 10px; transform: scale(0); transform-origin: bottom left; transform: scale(0); transition: transform 0.3s ease;}
.float.on .QnA{opacity: 1; transform: scale(1);}
.float .QnA strong{display: block; width: 100%; padding-bottom: 10px; font-size: 1.2rem; border-bottom: 2px solid #222;}
.float .QnA ul{padding-top: 10px;}
.float .QnA ul li:first-child{padding-bottom: 10px; border-bottom: 2px dotted #222;}
.float .QnA ul li a{display: block; padding: 5px 0; font-size: 1rem; color: #222; transition: all .3s ease;}
/*.instafeed-swiper .swiper-container .swiper-slide .items{display:flex;flex-wrap:wrap;gap:24px;}*/
/*.instafeed-swiper .swiper-container .swiper-slide .items .item{flex-grow:0;flex-shrink:0;flex-basis:auto;position:relative;width:332px;overflow:hidden;}*/
/*.instafeed-swiper .swiper-container .swiper-slide .items .item img{width:100%;height:100%;object-fit:cover;}*/
/* flll(늘어남) */
/* cover */
/* contain(빈공간) */
/* flll(늘어남) */
/* flll(늘어남) */

.top-title-wrap {padding: 210px 340px 80px;font-size: 78px; line-height: 92px; letter-spacing: -3px;}
.top-title-wrap h1{font-size: 78px; line-height: 92px; letter-spacing: -3px; color: #000;}
.sub-title-wrap h2{font-size: 48px; line-height: 56px; letter-spacing: -3px; color: #000;}
.gray{color: #888 !important;}
.bold{font-weight: 700;}
.subtit{font-size: 46px; line-height: 63px; color: #000;}
.subtxt{font-size: 20px; color: #333;word-break:keep-all;}

/* About */
.ui-about article{padding: 260px 0;}
.ui-about .sub-title-wrap{margin-bottom: 84px;}
.ui-about .img-wrap .txt-wrap p:first-of-type{margin: 45px 0 20px 0;}
.img-wrap{display: flex; align-items: center;margin-bottom: 260px;}
.img-wrap:last-of-type{margin-bottom: 0;}
.img-wrap .txt-wrap{width: 580px; margin-left: 80px;}
.img-wrap .img-box{width: 920px; height: 520px; background-color: #D9D9D9;}
.img-wrap .img-box img{width: 100%; height: 100%; object-fit: cover;}
.img-wrap.reverse{justify-content: end;}
.img-wrap.reverse .txt-wrap{margin-right: 80px;}


/* PiinoLife */
.ui-piinolife article{padding: 260px 0 170px 0;}
.ui-piinolife .img-wrap .txt-wrap .top-title-wrap{padding: 0;}
.ui-piinolife .img-wrap .img-box{width: 920px; height: 520px; background-color: #D9D9D9;}
.ui-piinolife .banner-wrap{position: relative;}
.ui-piinolife .banner-wrap h2{position:absolute;bottom: -45px;left: 340px;font-size: 74px; font-weight: 600; color: #000;text-transform:uppercase}
.ui-piinolife .banner-wrap::after{position: absolute;right: 340px;top: -70px;display: block; content: ''; width: 132px; height: 132px; background-color: #003046; border-radius: 50%;}
/* after 이거쓰면 좋을듯 https://www.youtube.com/watch?v=zwl3kZPZ8H8 */

.ui-piinolife .subtit{width: 460px;word-break:keep-all;}
.ui-piinolife .txt-wrap.flex{display: flex;justify-content: space-between;}
.ui-piinolife .left{width: 580px;}
.ui-piinolife .right{width: 580px;}
.ui-piinolife .txt-wrap.flex .subtxt:first-of-type{margin: 45px 0 20px 0;}
.ui-piinolife .txt-wrap + img{margin-top: 60px;}
.ui-piinolife .culture-list{margin-top: 260px;}
.ui-piinolife .culture-list .sub-title-wrap{width: 255px;}
.ui-piinolife .culture-list .icn-list-wrap{display: flex;justify-content: space-between; flex-wrap: wrap; margin-top: 80px;}
.ui-piinolife .culture-list .icn-list-wrap .icn-list{width: 580px;}
.icn{ width: 76px; height: 76px;background-repeat: no-repeat;background-position: center;}
.icn.medal{background: url(../img/medal.svg);}
.icn.calendar{background: url(../img/calendar.svg);}
.icn.smile{background: url(../img/smile.svg);}
.icn.shirts{background: url(../img/shirts.svg);}
.icn.bonus{background: url(../img/bonus.svg);}
.icn.sandwich{background: url(../img/sandwich.svg);}
.icn.book{background: url(../img/book.svg);}
.icn.travel{background: url(../img/travel.svg);}
.ui-piinolife .culture-list .icn-list-wrap .icn-list .title{font-size: 28px; font-weight: 700; color: #000;margin: 26px 0 16px 0;}
.ui-piinolife .culture-list .icn-list-wrap .icn-list .subtxt{margin-bottom: 90px;}
.ui-piinolife .img-wrap{padding-bottom: 300px;margin-bottom:0}
.ui-piinolife .img-wrap .txt-wrap .subtit{margin: 90px 0 30px 0;}
.ui-piinolife .img-wrap .txt-wrap .subtxt.bold{margin-bottom: 4px;}
.ui-piinolife .btm-wrap{position: relative; height: 792px;background: url("../img/photo06.jpg") no-repeat center; background-size: cover;}
.ui-piinolife .btm-wrap p{position: absolute;top: -50px;left: 50%;transform: translateX(-50%);font-size: 78px; font-weight: 700; line-height: 94px; text-align: center; color: #000; width: 100%;}

/* PiinoNews */
.ui-news article{padding: 0 0 260px 0;}
.ui-news .top-title-wrap{padding: 210px 340px 120px;}
.ui-news .news-wrap{display: flex; justify-content: space-between; flex-wrap: wrap;}
.ui-news .news-wrap .news-cont{width: 372px;margin-bottom: 80px;}
.ui-news .news-wrap .news-cont .thumbnail{background: url(../img/piino_thumbnail.png) no-repeat center; width: 372px; height: 240px;}
.ui-news .news-wrap .news-cont .news-tit{font-size: 24px;font-weight: 600;line-height: 29px;letter-spacing: -0.02em;text-align: left;margin: 32px 0 8px 0;}
.ui-news .news-wrap .news-cont .news-date{font-size: 16px;font-weight: 400;line-height: 30px;letter-spacing: -0.02em;text-align: left;}


/* z-index */
header{z-index:10;}
footer{z-index:10;}
.splash{z-index:99;}




